#root {
  width: 98dvw;
  height: 98dvh;
  margin: 0 auto;
  padding-left: 1dvw;
  padding-right: 1dvw;
  padding-top: 1dvh;
  padding-bottom: 1dvw;
  text-align: center;
}

#checkboxes {
  display: flex;
  width: 65dvw;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 0;
  width: 98dvw;
  height: 15dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0;
  width: 98dvw;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 0;
  width: 98dvw;
  height: 3dvh;
  display: flex;
  justify-content: right;
}

h1 {
  margin: 0;
  padding: 0;
}
